{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row" style="border: none; box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15); margin:20px; background:white" >
    <h2 style="margin-left:1rem"> Dashboard:</h2>
    <h6 style="margin-left:1rem">O software tem como objetico gerar e gerir opções basicas para um chatbot sem que o cliente tenha necessidade de alterar linhsa de codigo</h6>    
   <div class="col-12">
    <img src="{% static './assets/images/bot.png' %}" align="middle">
    </div>
</div>

{% endblock %}