{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Django People</title>
</head>

<div style="margin-right: 150px; margin-left: 150px; width: 100%;">
  <a id="top"></a>
  <h1 class="text-center">My xablaus</h1>

  <hr>

  {% if object_list %}
  <div class="row">
    <ul>
    {% for my_object in object_list %}
        <li>
          <h4>Assunto: {{my_object.Assunto}}</h4>
          <p>Pergunta: {{my_object.Pergunta}}?</p>
          <p class="text-muted">Resposta: {{my_object.Resposta}}</p>
        </li>
    {% endfor %}
    </ul>
  </div>
  {% else %}
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">You have no xablaus, please add one.%}</p>
    </div>
  </div>
  {% endif %}
</div>
