{% extends 'base.html' %}

{% block content %}
    {% if object_list %}
    <div class="row" style="border: none; box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15); margin:20px; background:white" >
        <div class="form-check"  >
            <!-- .table -->
            <table id="dt-responsive" class="table dt-responsive nowrap w-100">
                <thead>
                <tr>
                    <th> Assunto </th>
                    <th> Pergunta </th>
                    <th> Resposta </th>
                </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr role="row" class="odd">
                        <td class="sorting_1" tabindex="1">{{object.Assunto}} </td>
                        <td>{{object.Pergunta}}</td>
                        <td> {{object.Resposta}}</td>
                    </tr>
                    {% endfor %}
                
                <tfoot>
                <tr>
                    <th> Assunto </th>
                    <th> Pergunta </th>
                    <th> Resposta </th>
                </tr>
                </tfoot>
        
            </table><!-- /.table -->
        </div><!-- /.card-body -->
    </div>
    {% endif %}

</main>

{% endblock %}
