{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
{% comment %} <h1> Chat </h1>
<div id="webchat"/>
<script src="https://storage.googleapis.com/mrbot-cdn/webchat-latest.js"></script>

<script>
  WebChat.default.init({
    selector: "#webchat",
    customData: {"language": "en"}, // arbitrary custom data. Stay minimal as this will be added to the socket
    socketUrl: "http://localhost:5005",
    socketPath: "/socket.io/",
    title: "Faq Bot",
    subtitle: "Teste",
  })
</script> {% endcomment %}
{% endblock %}